
.login-form {
    height: 800px; 
    border: 1px solid lightgray;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.login-form .ingresar {
    margin: 20px 0 0 0;
}

/*= input focus effects css
=========================== */
:focus{outline: none;}


.col-3{
    /* float: left; */
    width: 90%;
    margin: 40px 3%;
    position: relative;
    text-align: center;
} 


input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

input[type="password"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

input[type="email"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}


.effect-11 {
    border: 0;
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    /* background: transparent; */
}


.effect-11 ~ .focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}


.effect-11:focus ~ .focus-bg {
    transition: 0.3s;
    width: 100%;}




.button-class {
    background-color: #03264C;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    padding: 12px 32px;
    margin-top : 30px;
    width: 50%;
}
